@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body{
	color: white;
	font-family:'Poppins', sans-serif;
	font-weight: 100;
	background-color: #000;

}
a {
	text-decoration: none;
}
.switch {
    margin-top: 10px;
    margin-bottom: 5px;
}
.wish {
    padding: 5px;
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
}
.nw {
    padding: 5px;
    color: ;
}